{% extends '@Gui/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Upload ' ~ fileType ~ ' file' } %}
        {% block widget_content %}

            <form id="{{ fileType }}FileUpload" class="dropzone dz-clickable" action="/{{ fileType }}/image/upload" method="post">
                <div class="dropzone-previews"></div>
                <button type="submit" class="btn btn-primary pull-right">Upload</button>
                <div class="dz-default dz-message"><span>Drop files here to upload (or click)</span></div>
            </form>

            <div>
                <em>Info: All files will be uploaded and the whole page will refresh afterwards.</em>
            </div>

        {% endblock %}
    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: fileType|capitalize ~' files' } %}
        {% block widget_content %}

            <table class="footable table table-striped toggle-arrow-tiny">
                <thead>
                <tr class="text-left">
                    <th>{{ 'Name' | trans }}</th>
                    <th>{{ 'Size' | trans }}</th>
                    <th>{{ 'Uploaded' | trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    {% if file.type == 'file' %}
                        {% set deleteMsg = 'Are you sure you want to delete "' ~ file.basename ~ '"?' %}
                        <tr>
                            <td>
                                <a href="{{ file.mapped_path }}" title="Open: {{ file.basename }}" target="_blank">
                                    {{ file.basename }} <i class="fa fa-external-link"></i>
                                </a>
                                <br />
                                <span>{{ file.mapped_path }}</span>
                            </td>
                            <td>
                                {{ file.size_human }}
                            </td>
                            <td>{{ file.timestamp | date('Y-m-d H:i:s e') }}</td>
                            <td>
                                <form action="/{{ fileType }}/image/delete" method="post">
                                    <input type="hidden" name="path" value="{{ file.path }}" />
                                    <button class="btn btn-xs btn-danger"
                                            title="Delete this file"
                                            onclick="return confirm('{{ deleteMsg }}')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="4">
                            <em>No files yet. Upload some by dragging them into the zone above.</em>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div>Total: {{ files|length }} file(s)</div>

        {% endblock %}
    {% endembed %}

{% endblock %}
